# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#ignore run configurations e.g Minecraft servers and client
run

#remove .idea folder because it is not needed
.idea